.tabs {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  &__item {
    width: 90px;
    padding: 8px 0;
    background-color: var(--color-second);
    color: var(--color-text);
    transition: box-shadow .5s;
    cursor: pointer;

    &--on {
      background: var(--color-main);
      color: var(--color-base);
      pointer-events: none;
    }

    &:hover {
      box-shadow: inset 0 0 5px 0 var(--color-main);
    }
  }
}
